<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-brand">
            <svg class="icon"><use href="/assets/icons/icons.svg#logo"></use></svg>
            <span class="brand-text">Surya Utilities</span>
        </a>
        <div class="navbar-links">
            <a href="/" class="nav-link">Home</a>
            <a href="/extensions" class="nav-link">Extensions</a>
            <a href="/plugins" class="nav-link">Plugins</a>
            <a href="/widgets" class="nav-link">Widgets</a>
            <a href="/themes" class="nav-link">Themes</a>
        </div>
    </div>
</nav>